* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1, h2 , h3 {
  font-family: sans-serif;
}


h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

p {
  font-family: roboto;
  font-size: 18px;
  font-weight: 300;
}

.uni-padding {
  padding: 0 10%;
}